@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

form{

    margin-top: 20px;
    background-color: white;
    padding: 40px 60px;
    border-radius: 5px;
    min-width: 300px;

}

form h1{
    color: rgba(165, 42, 42, 0.534);
    text-align: center;
}
form .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

form .social-media p{
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #545454 ;
  border-radius: 100%;
  width: 20px;
  text-align: center;
  cursor: pointer;

}

form p.choose-email{
    text-align: center;

}

form .inputs{ 
    display: flex;
    flex-direction:column ;

}

form .inputs input[type="email"], input[type="password"]{
    padding:15px;
    border-radius: 5px;
    border:none;
    background-color: #f2f2f2;
    margin-bottom:15px;
    outline:none;
}

form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: grey;
}

form p.inscription span{
    color:rgba(165, 42, 42, 0.534) ;

}

form button{
    padding: 15px 25px;
    border:none;
    border-radius: 5px;
    transition: transform 0.5s;
    font-size: 15px;
    color: white;
    background-color: rgba(165, 42, 42, 0.534) ;
    outline: none;
    cursor: pointer;
}

form button:hover{

    transform: scale(1.05);
}