@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

li{
    padding: 10px;
}

.main{ 
    margin: 20px;

}