@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.image{
    display:flex;
    width:400px;
    height:400px;
    text-align: center;
    margin:auto;

}




body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* Barre de navigation */
nav{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    padding :20px;
    background-color: white;
    top: 0;

}

nav h1{ font-size: 20px;

}
nav .onglets{
    display: flex; 
    flex-wrap: wrap;

}
nav .onglets p{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    width: 250px;
    border-radius: 30px;
    border:none;
    outline:none;
    background-color: #f2f2f2;
}
/* Fin de la barre de navigation  */

/* Header*/
header{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

header h1{font-size: 50px;
          max-width: 500px;
          text-align: center;
}

header button{
      padding: 10px;    
      border-radius: 30px;   
      border:none; 
      outline: none; 
      cursor: pointer;
      transition: transform 0.5s;

}

header button:hover {
    transform: scale(1.05);
    
}
/* Fin du Header*/


/* Section Principale*/
.main{
    margin:20px;
    margin-top:80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

}

/* Tout les Tomes*/
.tomes{ display: flex;
        flex-wrap: wrap;

}

.tomes .tome{
    margin-right: 20px;
    cursor: pointer;
}

.tomes .tom img {
    width: 350px;
}

.tomes .tome .tome-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tomes .tome .tome-body p{
    margin-top: -10px;
    padding: 20px;

}
p a{
    text-decoration: none;
}
  

/* Fin de Section Principale*/
